body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	min-width: 512px;
}

p {
	margin: 0;
	padding-top: 16px;
	padding-bottom: 16px;
}

.nameText {
	color: white;
	font-size: 64px;
}

.navbar {
	background-color: rgb(48,48,48);
	width: 100%;
}

.navbarTable {
	display: table;
	width: 300px;
}

.navbarCell {
	padding: 5px 5px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	margin: 0;
	color: white;
	display: table-cell;
	width: 33.33%;
}

.navbarCell:hover {
	background-color: #ddd;
	color: black;
}

.centerContent {
	width: 512px;
	margin-left: auto;
	margin-right: auto;
}

.mainContent {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-image: linear-gradient(black, rgb(48,48,48));
	text-align: center;
}
#content {
	background-image: linear-gradient(rgb(48,48,48), black, rgb(48,48,48));
}
#footer {
	background-image: linear-gradient(rgb(48,48,48), black);
	text-align: center;
	padding: 5px 5px;
}